<div class="card" (click)="setSelectedPet()">
  <div class="card-header">
    <div class="example-header-image"></div>
    <h5 class="card-title">{{ pet.name }}</h5>
  </div>
  <div *ngFor="let imageURL of pet.imageURLs">
    <img
      class="card-img-top max-h-30 max-w-48"
      [src]="imageURL"
      [alt]="imageURL"
    />
  </div>
  <div class="card-body">
    <p class="card-text">
      {{ pet.description }}
    </p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">LIKE</button>
    <button class="btn btn-secondary">SHARE</button>
  </div>
</div>
